.circleci
public
src

# Config Files
.babelrc
.eslintrc
.gitignore
.lintstagedrc
.prettierrc
.stylelintrc
app.json
webpack.config.js

# Express Server
index.js

# Webpack Build Output
dist/main.bundle.js